# OS Files
.DS_Store
*.log

# Android Studio (mobile/)
mobile/.gradle/
mobile/.idea/
mobile/build/
mobile/local.properties
mobile/*.iml
mobile/.cxx/
mobile/app/build/
mobile/.externalNativeBuild/

# IntelliJ IDEA (backend/)
backend/.idea/
backend/target/
backend/*.iml

# Common IntelliJ-related
*.iws
*.ipr
*.iml

# Backup and crash logs
*.swp
*.bak
*.tmp
